body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 4rem;
  background-color: #fff;
}

.fa-magnifying-glass-location {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */

.f-info {
  text-align: center;
  display: flex;
  height: 6rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials,
.f-info-links {
  width: 100%;
}

.f-info-socials i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

/* Card */
.listing-card {
  border: none !important;
  margin-bottom: 1rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.card-link {
  text-decoration: none;
}

/* Card Effect */

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.3;
  background-color: #fff;
}

/* New Listing */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Listing */
.show-img {
  height: 60vh;
}

.btns {
  display: flex;
}
